*/bin/
*/build/
*/.idea/
*/.settings/
/gradle/
.classpath
.project
.xml
build/test-results/test/TEST-com.costacarol.cloudnative.tema4.annotation.service.CalculatorServiceTest.xml
.iml
/.metadata/
/.recommenders/
/out/